<!DOCTYPE html>
<html>
  <head>
    <title>Newrapp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="container" >
	  <ul class="nav nav-tabs" >
		 <li><%= link_to "Home" , welcome_home_path %></li>
		  <li><%= link_to "Menu" , welcome_menu_path %></li>
		  <li><%= link_to "Order" , welcome_order_path %></li>
		  <li><%= link_to "ContactUS" , welcome_contactus_path %></li>
		  <li><%= link_to "AboutUs" , welcome_aboutus_path %></li>
		  <li><%= link_to "Home" , welcome_home_path %></li>
		  <li><%= link_to "Home" , welcome_home_path %></li>
	   </ul>
    <%= yield %>
    </div>
  </body>
</html>
